# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
#! explorer ..

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("city_data.csv", dtype="object", encoding="utf-8")
city_data.head()

,Name,lat,long,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
0,Batticaloa,7.71,81.69,27.03,78,75,1603132186,0.35,LK
1,Mataura,-46.19,168.86,8.89,71,68,1603132187,6.26,NZ
2,Cairns,-16.92,145.77,20.0,94,30,1603132008,0.94,AU
3,Ushuaia,-54.8,-68.3,4.0,86,75,1603131661,14.9,AR
4,Tasiilaq,65.61,-37.64,1.0,86,40,1603132187,8.2,GL

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
location = city_data[["lat", "long"]].astype(float)
humidity=city_data["Humidity"].astype(float)

fig1 = gmaps.figure()
humidity_layer = gmaps.heatmap_layer(location, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)
#Add layer
fig1.add_layer(humidity_layer)
# Display figure
fig1

Figure(layout=FigureLayout(height='420px'))

In [4]:
#Please note the temp is in Celsius so I converted it the value which are equivalent to fahrenheit which is 2

Per_weather=city_data.loc[(city_data["Max Temp"].astype(float) <= 26.66) & (city_data["Max Temp"].astype(float) >= 21.11) \
                                   & (city_data["Wind Speed"].astype(float) < 10) \
                                    & (city_data["Cloudiness"].astype(float) == 0)].dropna()

Per_weather.head()

,Name,lat,long,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
16,Rikitea,-23.12,-134.97,23.24,79,0,1603132045,6.65,PF
45,San Rafael,-34.62,-68.33,23.31,20,0,1603132194,4.99,AR
50,Marzuq,14.4,46.47,21.56,22,0,1603132194,1.89,YE
151,Bandarbeyla,9.49,50.81,25.96,77,0,1603132214,0.52,SO
165,Makkah al Mukarramah,21.43,39.83,24.97,39,0,1603132216,1.03,SA

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = Per_weather[["Name","lat","long","Country"]]
hotel_df.set_index('Name')
hotel_df['Nearby Hotel'] = ""
hotel_df

C:\Users\sethi\Anaconda3\envs\pydata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                     Name     lat     long Country Nearby Hotel
16                Rikitea  -23.12  -134.97      PF
45             San Rafael  -34.62   -68.33      AR
50                 Marzuq    14.4    46.47      YE
151           Bandarbeyla    9.49    50.81      SO
165  Makkah al Mukarramah   21.43    39.83      SA
179               Malakal    9.53    31.66      SS
182                Moerai  -22.43  -151.33      PF
197              Cidreira  -30.18   -50.21      BR
230           São Joaquim  -28.29   -49.93      BR
263       Tiznit Province   29.58     -9.5      MA
308              Lavumisa  -27.31    31.89      SZ
360                Yazman   29.12    71.74      PK
390             Inhambane  -23.86    35.38      MZ
393                Faanui  -16.48  -151.75      PF
422                 Pisco   -13.7   -76.22      PE
452          Port Hedland  -20.32   118.57      AU
493                Maputo  -25.97    32.59      MZ
500                  Fare   -16.7  -151.02      PF
503             Quelimane  -17.88    36.89      MZ
509              Basirpur   30.58    73.83      PK
519              Masvingo  -20.06    30.83      ZW
550             Abu Kamal   34.45    40.92      SY

In [6]:
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["long"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    hotel_name = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Nearby Hotel"] = hotel_name["results"][0]["name"]
        #print(f"Printing record: {name}") 
    except (KeyError, IndexError):
         print("Missing field/result... skipping.")

C:\Users\sethi\Anaconda3\envs\pydata\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\sethi\Anaconda3\envs\pydata\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
hotel_df

,Name,lat,long,Country,Nearby Hotel
16,Rikitea,-23.12,-134.97,PF,Pension Maro'i
45,San Rafael,-34.62,-68.33,AR,Algodon Wine Estates
50,Marzuq,14.4,46.47,YE,Shabwah Hotel
151,Bandarbeyla,9.49,50.81,SO,Super secret pirate cove
165,Makkah al Mukarramah,21.43,39.83,SA,Qasr Ajyad Alsad Hotel
179,Malakal,9.53,31.66,SS,Nile Palace Hotel
182,Moerai,-22.43,-151.33,PF,VAITUMU VILLAGE
197,Cidreira,-30.18,-50.21,BR,UP Motel
230,São Joaquim,-28.29,-49.93,BR,Rio do Rastro Eco Resort
263,Tiznit Province,29.58,-9.5,MA,Elmalara
308,Lavumisa,-27.31,31.89,SZ,Jozini Tiger Lodge & Spa
360,Yazman,29.12,71.74,PK,5th Avenue Hotel
390,Inhambane,-23.86,35.38,MZ,Villa Castellos
393,Faanui,-16.48,-151.75,PF,InterContinental Bora Bora Resort Thalasso Spa
422,Pisco,-13.7,-76.22,PE,"Hotel Paracas, a Luxury Collection Resort, Par..."
452,Port Hedland,-20.32,118.57,AU,The Esplanade Hotel
493,Maputo,-25.97,32.59,MZ,Polana Serena Hotel
500,Fare,-16.7,-151.02,PF,Maitai Lapita Village Huahine
503,Quelimane,-17.88,36.89,MZ,Hotel Elite
509,Basirpur,30.58,73.83,PK,HOTEL SEN-NITE
519,Masvingo,-20.06,30.83,ZW,Lodge At Ancient City
550,Abu Kamal,34.45,40.92,SY,Phosphate hotel

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Nearby Hotel}</dd>
<dt>City</dt><dd>{Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations1 = hotel_df[["lat", "long"]].astype(float)
#hotel_info

In [20]:
Pf_weather_layer = gmaps.marker_layer(locations1, info_box_content = hotel_info)
#fig2 = gmaps.figure()
fig1.add_layer(Pf_weather_layer)

fig1

Figure(layout=FigureLayout(height='420px'))